* {
    background:     #1a1b26FF; 
    background-alt: #24283bFF;  
    foreground:     #c0caf5FF;  
    selected:       #bb9af7FF; 
    selected1:      #bb9af7FF;  
    active:         #bb9af7;  
    urgent:         #f7768eFF;  
}
